.container {
  border: 2px solid black;
  display: grid;
  grid-template-columns: 200px 200px;
  grid-template-rows: 200px 200px;
  height: 1000px;
}

div {
  background-color: aqua;
  border: 2px solid black;
}
