section {
  background-color: lightcoral;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  height: 500px;
  justify-content: center;
  align-items: center;
  gap: 20px;

  /* flex-basis: 100px; */
}

article {
  border: 2px solid black;
  padding: 10px;
  background-color: lightpink;
  margin: 15px;
  height: 400px;
  width: 200px;
}
